
@import "./base";
@import "./components";

html{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    h1,h2,h3,h4,h5{
        font-family: 'Noto Sans JP', sans-serif;
    }
    h3{
        letter-spacing: -4px;
    }
    a{
        text-decoration: none;
    }
}
h1 {  
    font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  }
  h2 {  
    font-size: $mod_1*$mod_1*$mod_1 *1rem; 
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  }
  h3 { 
    font-size: $mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  }
  h4{
    font-size: $mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2* $min_font);
  }
p{
    line-height: 2rem;
    
}
.navBar {
    background-color: transparent;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top:0;
    overflow: hidden;

    height: 10%;
    padding: 2%;

    .icon{
        display: none;
    }
    img{
        width: 25%;
    }
  }
  
  


.container{
    min-height: 100vh;
    background-color: $bgColor;
}

.title{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/title-bg.gif");
    background-position: center;
    background-size: cover;

    .title-text{
        color: white;
        padding-top: 10%;
        padding-left:10%;
        width: 50%;
    }
    h1{
        font-weight: 900;
        line-height: 1em;
    }

    p{
        color: $subtextColor;
        padding-top: 5%;
        padding-left: 10px;

        width: 80%;

    }
}

.our-story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    overflow: hidden;
    img{
        float: right;
        height: 90%;

    }
    h3{
        margin-top: 20%;
        margin-left:20%;
        color: $primColor;
        
    }
    p{
        margin-left:20%;
        color: $subtextColor;
        padding-left: 10px;
        width: 80%;
        text-align: justify;
    }
}

.banner{
    min-height: 50vh;
    background-image: url("../images/banner-image.jpg");
    @include parallaxBg
}
.our-legends{
    h3{
        text-align: right;
        margin-top: 5%;
        margin-right:20%;
        color: $primColor;
        
    }
    p{
        float: right;
        text-align: justify;
        margin-left: 40%;
        margin-right:20%;
        color: $subtextColor;
        padding-left: 10px;
    }
}

.legends{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15% 10% 15%;
    column-gap: 50px;
    margin: auto;
    .box1,.box2,.box3{
        .image1,.image2,.image3{
            max-width: 100%;
            height: 500px;
        }
    }
    h4{
        padding-top: 10px;
        color: $primColor;
    }
    p{
        padding-top: 10px;
        color: #bbb;
        padding-right: 10px;
    }
    .box1{
        margin-bottom: 200px;
        .image1{
            @include imageProperties("../images/lee-priest.jpg");
        }
    }
    .box2{
        margin-top: 200px;
        margin-bottom: 100px;
        .image2{
            @include imageProperties("../images/frank-zane.jpg");
        }
    }
    .box3{
        margin-top: 400px;
        .image3{
            @include imageProperties("../images/andreas-cahling.jpg");
        }
    }
}

.why-us-left{
    @include zigZag;
    h3{
        @include h3Text(right)
    }
    p{
        margin:auto;
        color: $subtextColor;
        width: 80%;
        text-align: justify;
        padding-bottom: 5%;
    }
}

.why-us-left-pic{
    background:url("../images/gym-pic.jpg");
    background-size: cover;
}

.why-us-right{
    @include zigZag;
    h3{
       @include h3Text(left)
    }
    p{
        margin:auto;
        color: $subtextColor;
        width: 80%;
        text-align: justify;
        padding-bottom: 5%;
    }
}
.why-us-right-pic{
    background:url("../images/gym-pic-2.jpg");
    background-size: cover;
}



.dark{
    background-color: $primColor;
    h3{
        padding-top: 10%;
        padding-left: 10%;
        text-align: left;
        color: $bgColor;
        width: 50%;
    }
}

.videos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5%;
    p{
        max-width: 430px;
        color: #bbb;
        padding-right: 10px;
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    
}

.by{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    p{
        padding-left: 10px;
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

}

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    .quote{
        padding-top: 10px;
        color: #bbb;
        padding-right: 10px;
        width: 80%;
        text-align: center;

    }
    .picname{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 100px;

        }


    }
}

.swiper-container,.swiper-wrapper{
    height: auto !important;
}
footer{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    img{
        width: 10vw;
        align-self: flex-start;
        position: absolute;
        left:10%;
    }
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;

    justify-content: center;
    background-color: $bgColor;
    width: 100%;
    padding-top: 3%;

}
.quick-nav-links,.social-links{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    a,i{
        padding-left: 5%;
        color: black;
    }
    a:hover,i:hover{
        color: #bbb;
    }
}

@media (max-width: 1500px){

    .by{
        margin-bottom: 30px;
    }
    .videos{
        flex-direction: column;
        p{
            max-width: 100%;
        }
    }

    .video1,.video2,.video3{
        iframe{
            width: 853px;
            height: 505px;
        }
    }
    


}




@media (max-width: 1024px){
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title-text,h1{
            padding:0 !important;
        }
        .title-text{
            flex-grow: 5;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 70%;
        }
        .down-icon{
            flex-grow: 1;
        }
    }
    .our-legends{
        h3{
            width: 100%;
            text-align: center;
        }
        p{
            margin-left: 20%;
        }
    }

    .dark{
        h3{
            width: 100%;
            text-align: center;
            padding-left: unset;

        }
    }

    .legends{
        padding: 5% 10% 10% 10%;
    }
    .why-us-right,.why-us-left{
        h3{
            // text-align: center;
            // padding-left: unset;
            // padding-right: unset;
        }
        p{
            margin-top: 10%;
            margin-bottom: 20%;
            
        }
    }
    .videos{
        flex-direction: column;
        p{
            
        }
    }
    .video1,.video2,.video3{
        text-align: center;
        iframe{
            width: 640px;
            height: 385px;
        }
    }
    .by{
        padding-bottom: 60px;
        justify-content: center;
    }
    .footer-links{
        gap: 10px;
        padding-bottom: 5%;

    }


}
@media (max-width: 900px){
    h1{
        padding-top: 20%;
    }
    h3{
        float:unset;
        padding-left:0 !important;
        padding-right:0 !important;
    }
    p{
        margin-left:auto;
        margin-right:auto;
        width: unset !important;
        margin: unset !important;
        padding: 5%;
    }
    .our-story{
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        h3,p{
            margin:auto;
        }
        h3{
            text-align: center;
        }
        .bbimage{
            text-align: center;
        }
        img{
            float: unset;
        }
    }

    .our-legends{
        h3,p{
            margin:auto;
            width: 80%;
        }
        h3{
            float: unset;
        }

    }
}

@media (max-width: 768px){

    .title-text{
        padding-top: 10%;
        padding-left: 5%;
        h1{
        }
    }

    .why-us-left,.why-us-right{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        h3{
            text-align: center;
        }
        .why-us-left-pic{
            grid-row:2;
        }
        p{

        }
    }
    .our-legends{
        h3{
            float:unset;
            margin-right: unset;
            width: unset;
            margin:auto;
            text-align: center;
        }
        p{
            padding-top: 5%;
            margin-left: 20%;
            padding-bottom: 10%;
        }
    }

    .legends{
        padding: 0 5% 10% 5%;
    }

    .video1,.video2,.video3{
        p{
            padding-left: 5%;
            padding-right: 5%;
        }
        iframe{
            width: 560px;
            height: 340px;
        }
    }
    .footer{
        padding-top: 5%;
        
    }


}
@media (max-width: 680px){
    .legends{
        grid-template-columns: unset;
        .box1,.box2,.box3{
            padding: 5%;
            text-align: center;
            margin-top: unset;
            margin-bottom: unset;
        }
    }


}

@media (max-width: 580px){
    h1{
        padding-top: 20%;
    }
    h3{
        text-align: center;
        padding-left:0 !important;
        padding-right:0 !important;
        margin-left: 0 !important;
    }
    .title{
        h1{

        }
    }

    .our-legends{
        h3{

        }
    }
    .dark{
        h3{
        }
    }
    .legends{
        column-gap: 15px;
    }
    .quote-container{
        padding-bottom:5%;
    }
    .by{
        margin-bottom: 60px;
        justify-content: center;
        p{
            margin: 0;
        }
    }

    .video1,.video2,.video3{
        text-align: center;
        p{
            padding-bottom: 0 !important;
        }
        iframe{
            width: 360px;
            height: 200px;
        }
    }


}

 